$mobile: new-breakpoint(max-width 850px 4);


.chatroom-container {
  @include outer-container;
  margin-bottom: 120px;
  .messages {
    margin-top: 100px;
    .block {
      height: 120px;
      max-width: 100%;
      width: 100%;
      background-color: $light-gray;
      margin-bottom: 15px;
      .image-show {
        @include span-columns(3);
        @include media($mobile) {
        }
        margin-left: 15px;
        max-width: 160px;
        max-height: 120px;
      }
      #body {
        @include span-columns(6);
        @include media($mobile) {
        }
        height: 110px;
        overflow: scroll;
        font-size: $base-font-size * 1.25;
        padding: 10px;
      }

      #time {
        @include span-columns(3);
        @include media($mobile) {
          display: none;
        }
        margin-top: 5px;
        text-align: right;
      }

      .voting {
        @include span-columns(3);
        @include media($mobile) {
          display: none;
        }
        text-align: right;
      }
    }
  }
}
