.chatroom-container {
  @include outer-container;
  margin-bottom: 120px;
  .messages {
    margin-top: 100px;
    .block {
      height: 120px;
      max-width: 100%;
      width: 100%;
      background-color: $light-gray;
      margin-bottom: 15px;
      .image-show {
        margin-left: 15px;
        width: 160px;
        height: 120px;
        float: left;
      }
      #body {
        width: 650px;
        height: 110px;
        overflow: scroll;
        margin-left: 20px;
        float: left;
        font-size: $base-font-size * 1.25;
        padding: 10px;

      }
      #time {
        float: right;
        padding: 10px;
      }
    }
  }
}
