body {
  width: 105%;
  margin: 0;
}

.chatroom-container {
  @include outer-container;
  .chatroom {
    @include span-columns(12);
    margin-top: 60px;
    li {
      background-color: $light-gray;
      margin-bottom: 10px;
    }
  }
}

.form-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  .chat-form {
    @include outer-container;
      textarea,
      #{$all-text-inputs},
      select[multiple=multiple] {
      background-color: $base-font-color;
      font-family: $form-font-family;
      font-size: $form-font-size;
      padding: 0;
      height: 60px;
      color: $off-white;
      border: 0;
      border-radius: 0;
      box-shadow: none;

      @include span-columns(8);
    }
  }
  .online-users {
    display: none;
  }
}
