.outer-container {
  @include outer-container;
}

.chatroom {
  @include span-columns(12);
  li {
    background-color: $light-gray;
    margin-bottom: 10px;
  }
}

.chat-form {
  margin-top: 40px;
}

.online-users {
  @include span-columns(1);
}
