$medium-screen: new-breakpoint(max-width em(500) 12);

.header-container {
  z-index: 1;
  background-color: $off-white;
  position: fixed;
  width: 100%;
  height: 90px;
  top: 0;
  border-bottom: $base-accent-color;
  border-bottom-width: 6px;
  border-bottom-style: solid;
}

.logo {
  margin-top: -10px;
  padding-left: 15px;
  h1 {
    font-family: $logo-font-family;
    font-size: $logo-font-size;
    @include media($medium-screen) {
      font-size: $logo-font-size / 2;
      margin-top: 30px;
    }
  }
}

.login {
  float: right;
  margin-top: -67px;
  text-align: right;
  padding-right: 10px;
}
