.online-users:hover {
  right: 0;
}

.online-users {
  #online-users:hover {
    right: 0;
  }
}

#online-users {
  position: fixed;
  background-color: $base-font-color;
  color: $off-white;
  height: 109px;
  width: 200px;
  top: 200px;
  right: -170px;
  .rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    writing-mode: tb-rl;
    position: absolute;
    left: -33px;
    bottom: 30px;
  }
  ul {
    position: absolute;
    left: 45px;
    font-size: .75em;
    height: 100px;
    width: 160px;
    overflow: scroll;
    margin-top: 5px;
  }
}
